<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    <%= titulo %>
  </title>
</head>

<body>
  <header>
    <a href="/">
      <h1>
        <%= titulo %>
      </h1>
    </a>
    <nav>
      <ul>
        <% if (alreadyRegistered) { %>
        <li class="addContact">
          <a href="/contact/new"><button>Adicionar contato</button></a>
        </li>
        <li>
          <a href="/logout"><button>Sair</button></a>
        </li>
        <% } else { %>
        <li>
          <a href="/login"><button>Entrar</button></a>
        </li>
        <% } %>
      </ul>
    </nav>
  </header>
</body>
