<!DOCTYPE html>
<html lang="pt-BR">


<%- include('./includes/head'); %>

    <section class="container">
        <header>
            <h2>
                <%= titulo %>
            </h2>
        </header>
        <section class="content">
            <h3>
                Abaixo está todos os seu contatos.
            </h3>
            <div>
                <%- include('./includes/contacts') %>
            </div>
        </section>
    </section>

    <% if (message) { %>
        <div class="error-container">
            <section class="error-content">
                <h1 class="error-message">
                   <%= message %> 
               </h1>
            </section>
        </div>
    <% } %>
    <script src="./assets/js/bundle.js"></script>
    </body>

</html>